.btn-ghost {
  color: #0d10cf;
  border: 1px solid #5904af;
  padding: 6px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.btn-ghost:hover {
  opacity: 1;
  border: dotted mediumblue;
}

.btn btn-primary {
  transform: scale(1.07)
}
